body {
    font-family: "Verdana";
}

.editUserInput {
    margin: 10px;
    display: inline;
}

.userForm {
    width: 600px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(134, 133, 133);
    color: #000;
    margin-left: 25%;
    box-shadow: 4px 4px 8px #1b3554;
    /* display: flex; */
    justify-content: center;
    align-items: flex-start;
}

.md-block {
    color: #000;
}

.editLabel {
    color: #000;
}

.editButtons {
    margin-left: 50%;
}

a {
    text-decoration: none;
    color: #fff;
}