.homeContainer {
    position: relative;
    text-align: center;
}

.backImage {
    position: relative;
    text-align: center;
    object-fit: cover;
  
}

.imageTitle {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    text-shadow: black 0.1em 0.1em 0.2em;
    letter-spacing: 2px;
}