/* font-family: 'ABeeZee', sans-serif;
font-family: 'Chivo', sans-serif; */

body {
    margin: 0;
}

.homeContainer {
    position: relative;
    text-align: center;
}

.backImage {
    position: relative;
    text-align: center;
    object-fit: cover;
    /* filter:blur(5px); */
    /* filter:opacity(50%); */
    filter: blur(20%);
}

.imageTitle {
    position: absolute;
    /* top: 10%; */
    left: 50%;
    bottom: 40%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    text-shadow: black 0.1em 0.1em 0.2em;
    letter-spacing: 2px;
    color: #fff;
}

.md-truncate.flex {
    font-family: 'Chivo', sans-serif;
    /* font-family: 'ABeeZee', sans-serif; */
    text-shadow: 2px 2px 2px black;
    font-size: 40px;
    margin-left: 20px;
}

