body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
}

.h1test {
  color: blue;
}

.homeContainer {
  position: relative;
  text-align: center;
}

.backImage {
  position: relative;
  text-align: center;
  object-fit: fill;
}

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5em;
  text-shadow: black 0.1em 0.1em 0.2em;
  letter-spacing: 2px;
}

.cityInfo {
  text-align: center;
}

.txtSignin {
  margin: 10px;
}

.btnTxtSignin {
  margin: 10px;
}

#catchItems {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border: 2px solid #000;
  height: 200px;
  width: 100%;
  text-align: center;
  /* margin-left: 10%; */
}

#catchItems td,
#catchItems th {
  border: 1px solid #ddd;
  padding: 8px;
}

#catchItems tr:nth-child(even) {
  background-color: #f2f2f2;
}

#catchItems th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(38, 126, 226);
  color: white;
  text-align: center;
}

.md-input-message-animation {
  /* background-color: #000; */
  color: #000;
}

.instructions {
  background-color: rgba(228, 228, 228, 0.35);
  color: #DDDDDD;
  box-shadow: 0 5px 5px #999;
  /* padding: 15px; */
}

iTrackTitle {
  text-align: left;
}

/* .instructions .container h1 {
  font-size: 32px;
  font-weight: 600;
}



/* #entryForm {
  margin-top: 14px;
}

#container {
  margin-top: 10px;
}

.container p{
  margin-top : 14px;
}

.message {
  padding: 10px 0;
}

.message p {
  margin-left: 10px;
}

.message:nth-child(odd) {
   background-color: #eeeeee;
}

.message:nth-child(even) {
  background-color: #f8f8f8;
}

.btn-danger{
  margin-left: 10px;
}

.navbar {
  background-color: #333333;
  width: 100%;
  border-radius: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */

/* li a:hover {
  text-decoration: underline;
  color: #eee;
} */