body,
html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
}

.generalButton {
  margin: 10px;
}

.md-toolbar-tools {
  box-shadow: 3px 3px 3px rgb(83, 83, 83);
}

.md-truncate.flex {
  width: 0;
  font-size: 60px;
  font-family: 'Lato', sans-serif;
  margin: 20px;
}