.h1User {
  font-size: 80px;
  padding-top: 50px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 4px;
}

.userBanner h1 {
  text-shadow: 2px 2px 6px #000;
  text-align: center;
  line-height: 90px;
}

.userBanner {
  color: white;
  background: url(../images/fly-rod-reel2.jpg) no-repeat;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  object-fit: cover;
  border-bottom: 2px solid grey;
}

.userBanner-text {
  padding-top: 130px;
}

.userViewUsernameCity {
  text-align: center;
}

.userInfoSubmit {
  width: 200px;
  margin-top: -40px;
}

#catchTable {
  font-family: 'Arimo', sans-serif;
  height: 200px;
  width: 90%;
  text-align: center;
  border: 2px solid #000;
  border-collapse: collapse;
  background-color: rgb(152, 181, 206);
  color: #000;
  margin-top: 20px;
}

#catchTable td,
#catchTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#catchTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

#catchTable th {
  padding: 20px;
  /* padding-bottom: 12px; */
  /* text-align: left; */
  background-color: rgb(38, 126, 226);
  color: white;
  text-align: center;
  height: 20px;
  font-size: 20px;
  text-shadow: 2px 2px 6px #000;

}

.fa-pencil-alt {
  margin-left: 5px;
  /* color: #fff; */
}

.fa-edit {
  margin-left: 10px;
}

.tooltip {
  color: rgb(177, 50, 50);
  margin: 5px;
  font-size: 20px;
  text-shadow: 2px 2px 6px #000;
}

.formMessage {
  color: rgb(177, 50, 50);
  margin: 5px;
  font-size: 20px;
  text-shadow: 2px 2px 6px #000;
}

.catchTableRow {
  font-size: 20px;
}

.username {
  font-size: 40px;
  text-shadow: 2px 2px 6px #000;
  margin-top: 20px;
}

.cityInfo {
  font-size: 20px;
  text-shadow: 2px 2px 6px #000;
  margin-top: -15px;
}

.fishform {
  display: flex;
  flex-wrap: wrap;
}

.userFormButtons {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.fa-file-image {
  color: #fff;
}

.fa-pencil-alt {
  margin-top: 5px;
  color: rgb(42, 115, 193);
}

.fa-trash-alt {
  margin-top: 3px;
  color: rgb(131, 46, 46);
}

.tableEditBtn {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.tableDeleteBtn {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
