<div ng-include="'views/partials/logout.header.html'"></div>
<div class="container">
  <div ng-controller="EditUserController" layout="column" ng-cloak class="md-inline-form">
    <md-content layout-padding>
      <div>
        <form name="userForm" class="userForm" layout-align="center center">
          <h3> Edit User Information
          </h3>
          <div layout-gt-sm="row">
            <md-input-container class="md-block" dividerColor="primary" flex-gt-sm required>
              <label class="editLabel">First name</label>
              <input ng-model="vm.userObject.first_name">
            </md-input-container>
            <md-input-container class="md-block" flex-gt-sm required>
              <label class="editLabel">Last Name</label>
              <input ng-model="vm.userObject.last_name">
            </md-input-container>
          </div>
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm required>
              <label class="editLabel">Username</label>
              <input ng-model="vm.userObject.username">
            </md-input-container>
          </div>
          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm required>
              <label class="editLabel">City</label>
              <input ng-model="vm.userObject.city">
            </md-input-container>
            <!-- <md-input-container class="md-block" flex-gt-sm ng-minlength="2" ng-maxlength="2" required> -->
            <md-input-container>
              <label class="editLabel">State</label>
              <input ng-model="vm.userObject.state">
              <div ng-messages="userForm.name.$error">
                <p ng-message="minlength">Use 2 letter state abbreviation</p>
                <p ng-message="maxlength">Use 2 letter state abbreviation</p>
                <p ng-message="required">State is required</p>
              </div>
            </md-input-container>
          </div>
          <div layout-gt-sm="row" layout-align="center center">
            <md-button class="md-raised md-accent editButtons btnSaveCatchEdit" ng-click="vm.saveUserInfo(vm.userObject)">
              <a href="#!user">Save</a>
            </md-button>
            <md-button class="md-raised md-accent editButtons btnCancelCatchEdit" ng-click="">
              <a href="#!user">Cancel</a>
            </md-button>
          </div>
        </form>
      </div>
    </md-content>
  </div>
</div>