<div ng-include="'views/partials/logout.header.html'"></div>
<div class="container" md-no-flicker>
  <div layout="column" ng-cloak class="md-inline-form" layout-align="center center">
    <md-content layout-padding class="formParent" layout-align="center center">
      <form name="userForm" class="userForm fishForm editCatchForm">
        <h3 class="editFormTitle"> Edit Catch Information</h3>
        <hr>
        <div layout-gt-sm="row" class="editCatchDate" layout-align="center center">
          <md-input-container class="editFormDate">
            <label>Enter date</label>
            <md-datepicker md-hide-icons="calendar" ng-model="vm.editCatchData.item.date" name="dateField" required></md-datepicker>
            <div ng-messages="myForm.dateField.$error">
              <div ng-message="valid">The entered value is not a date!</div>
              <div ng-message="required">This date is required!</div>
            </div>
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label class="editLabel">City</label>
            <input ng-model="vm.editCatchData.item.event_city">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm ng-minlength="2" ng-maxlength="2">
            <label class="editLabel">State</label>
            <input ng-model="vm.editCatchData.item.event_state">
            <div ng-messages="userForm.name.$error">
              <p ng-message="minlength">Use 2 letter state abbreviation</p>
              <p ng-message="maxlength">Use 2 letter state abbreviation</p>
              <p ng-message="required">State is required</p>
            </div>
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm required>
            <label class="editLabel">Species</label>
            <input ng-model="vm.editCatchData.item.species">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label class="editLabel">Tackle/Bait</label>
            <input ng-model="vm.editCatchData.item.tackle_bait">
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label class="editLabel">Rod</label>
            <input ng-model="vm.editCatchData.item.rod">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label class="editLabel">Reel</label>
            <input ng-model="vm.editCatchData.item.reel">
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm required>
            <label class="editLabel">Body of water</label>
            <input ng-model="vm.editCatchData.item.body_of_water">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label class="editLabel" ng-disabled="true">Image URL</label>
            <input ng-model="vm.editCatchData.item.image_url" ng-disabled="true">
          </md-input-container>
        </div>
        <div layout-gt-sm="row" layout-align="center center">
          <a ng-href="#!user">
            <md-button class="md-raised md-accent editButtons generalButtons btnSaveCatchEdit" ng-click="vm.saveCatchEdit(vm.editCatchData)">
              Save
            </md-button>
          </a>
          <md-button class="md-raised md-accent editButtons generalButtons btnCancelCatchEdit" ng-click="">
            <a href="#!user">Cancel</a>
          </md-button>
        </div>
      </form>
    </md-content>
  </div>
</div>