<header ng-include="'/views/partials/login.header.html'"></header>

<body class="homeContainer">
    <div class="backImage">
        <img src="../images/fish-jump.jpg" alt="" />
        <div class="homeTitleBox">
            <!-- <div class="imageTitle">fish. catch. itrack.</div>
            <p class="imageTitle2">Giving you more time to focus on fishing</p>
            <p class="imageTitle3"></p> -->

        </div>
        <!-- <p class="imageTitle">Get to fishing with less time recalling previous fishing data</p> -->
    </div>
</body>