<div ng-include="'views/partials/logout.header.html'"></div>
<div class="container">
    <div class="userBackImage">
        <img class="userImage" src="../images/reel.jpg" alt="" />
        <div class="imageTitle">fish. catch. itrack.</div>

    </div>
    <div class="userViewUsernameCity">
        <i class="fas fa-user-circle fa-10x"></i>
        <h1>{{vm.userObject.first_name}} {{vm.userObject.last_name}}</h1>
        <h3 class="cityInfo">{{vm.userObject.city}}, {{vm.userObject.state}}
            <a href="#!editUser">
                <i class="fas fa-pencil-alt" ng-click=""></i>
            </a>
        </h3>

    </div>
    <hr>
    <div ng-include="'views/partials/nav.html'"></div>

    <form name="fishForm">
        <md-input-container>
            <label>Enter date</label>
            <md-datepicker ng-model="vm.newItem.date" name="dateField"></md-datepicker>
            <div ng-messages="myForm.dateField.$error">
                <div ng-message="valid">The entered value is not a date!</div>
                <div ng-message="required">This date is required!</div>
            </div>
        </md-input-container>
        <md-input-container>
            <div>
                <label>City</label>
                <input name="city" ng-model="vm.newItem.event_city">
            </div>
        </md-input-container>
        <md-input-container>
            <div>
                <label>State - 2 letter abbrev.</label>
                <input name="state" ng-model="vm.newItem.event_state" md-maxlength="2">
                <!-- <div ng-message="md-maxlength">Only use two letter state abbreviation!</div> -->
            </div>
        </md-input-container>
        <md-input-container>
            <label>Species</label>
            <input name="species" ng-model="vm.newItem.species" required>
            <div ng-messages="colorForm.species.$error">
                <div ng-message="required">This is required!</div>
            </div>
        </md-input-container>
        <md-input-container>
            <div>
                <label>Rod</label>
                <input name="rod" ng-model="vm.newItem.rod">
            </div>
        </md-input-container>
        <md-input-container>
            <div>
                <label>Reel</label>
                <input name="reel" ng-model="vm.newItem.reel">
            </div>
        </md-input-container>
        <md-input-container>
            <div>
                <label>Tackle/Bait</label>
                <input name="tackle_bait" ng-model="vm.newItem.tackle_bait">
            </div>
        </md-input-container>
        <md-input-container>
            <label>Body of Water</label>
            <input name="body_of_water" ng-model="vm.newItem.body_of_water" required>
            <div ng-messages="fishForm.body_of_water.$error">
                <div ng-message="required">This is required!</div>
            </div>
        </md-input-container>
        <md-button class="md-raised md-accent generalButton" ng-click="vm.addItem(vm.newItem)">Submit
        </md-button>
    </form>
    <hr>
    <div ng-controller="UserController as vm" class="grid catchTable" layout="horizontal" layout-align="center center" layout-wrap>
        <table id="catchTable">
            <thead>
                <tr>
                    <th>Event ID</th>
                    <th>Date</th>
                    <th>Event City</th>
                    <th>Event State</th>
                    <th>UserID</th>
                    <th>Species</th>
                    <th>Rod</th>
                    <th>Reel</th>
                    <th>Tackle/Bait</th>
                    <th>Body of Water</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody ng-repeat="items in vm.items.list track by $index">
                <tr>
                    <td>{{items.eventid}}</td>
                    <td>{{items.date | date:'MM-dd-yyyy'}}</td>
                    <td>{{items.event_city}}</td>
                    <td>{{items.event_state}}</td>
                    <td>{{items.userid}}</td>
                    <td>{{items.species}}</td>
                    <td>{{items.rod}}</td>
                    <td>{{items.reel}}</td>
                    <td>{{items.tackle_bait}}</td>
                    <td>{{items.body_of_water}}</td>
                    <td>
                        <md-button class="md-raised md-primary generalButton" aria-label="edit button" ng-click="vm.editCatch(items.eventid)">
                            <i class="fas fa-edit"></i>
                            <a href="#!editCatch">Edit Catch Page</a>
                        </md-button>
                    </td>
                    <td>
                        <md-button class="md-raised md-danger generalButton" aria-label="delete button" ng-click="vm.deleteItem(items.id)">
                            <i class="far fa-trash-alt"></i>
                        </md-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>